.body {
    background-image: url("—Pngtree—royal golden blue mandala art_1596347.jpg");
    background-repeat: no-repeat;
    background-position: center;
}

.header {background-color: rgb(66, 141, 135);
    padding: 15px;
    text-align: center;
}
.nav_menu {
    overflow: hidden;
    background-color: #333;
}
.nav_menu a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.nav_menu a:hover {
    background-color: white;
    color: green;
}
.columnA, .columnB, .columnC {
    float: left;
    width: 27%;
    padding: 15px;
    text-align:justify;
}
h2 {
    color:green;
    text-align:center;
}
 
/* Media query to set website layout
according to screen size */
@media screen and (max-width:600px) {
    .columnA, .columnB, .columnC {
        width: 50%;
    }
}
@media screen and (max-width:400px) {
    .columnA, .columnB, .columnC {
        width: 100%;
    }
}
.footer {
    background-color: rgb(62, 158, 134);
    padding: 15px;
    text-align: right;
}